body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.left-side {
    flex: 2;
    position: sticky;
    top: 0;
    background-image: url(./images/leftside-bcg.png);
    background-size: 200px;
    text-align: right;
    height: 100dvh;
    border-right: 2px solid black;
}

.side-menu {
    margin-top: 160px;
    margin-bottom: auto;
    padding-right: 10px;
}

.side-menu h1 {
    color: white;
    font-size: 50px;
}

.side-menu p {
    font-weight: bold;
    color: goldenrod;
    font-size: 20px;
}

.Login-bttn {
    padding: 10px;
    border: 2px solid white;
    background-color: rgba(73, 170, 199, 0.562);
    font-size: 20px;
}

.right-side {
    flex: 8;
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    flex: 1;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-image: url(./images/header-bcg.webp);
    background-size: 300px;
    border-bottom: 4px solid rgb(141, 119, 10);
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
    list-style-type: none;
}

.header-nav ul li {
    padding: 5px;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: bold;
    background-color: #00B4CC;
}

.search {
  width: 350px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  margin-left: 500px;
  margin-top: 45px;
  transform: translate(-50%, -50%);
}

.menu-icon {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #00B4CC;
    padding: 5px;
    margin-top: 25px;
}

.icon-menu {
    width: 20px;
    height: 20px;
}

main {
    display: flex;
    flex-direction: column;
    background-image: url(./images/main-bcg.jpeg);
}

.pinned-post-area {
    margin-top: 50px;
    box-shadow:  5px 0px 5px 12px rgb(92, 91, 91);
    margin-left: 20px;
    margin-right: 20px; 
}

.pinned-post {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
    background-color: #00B4CC;
    border-radius: 20px;
    padding: 5px;
}

.recent-post-area {
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow:  5px 0px 5px 12px rgb(92, 91, 91);
    margin-left: 20px;
    margin-right: 20px;
}

.recent-post {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
    background-color: #00B4CC;
    border-radius: 20px;
    padding: 5px;
}

article {
    border: 3px solid black;
    border-radius: 20px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(56, 121, 99, 0.473);
}

.head-of-article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    padding: 0;
}

.under-html {
    background-color: green;
    padding: 2px;
}

.under-css {
    background-color: blue;
    padding: 2px;
}

.under-javascript {
    background-color: red;
    padding: 2px;
}

.header-nav ul li:hover {
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
    background-color: rgb(66, 105, 212);
    color: #fff;
}

.Login-bttn:hover {
    transition: all .5s cubic-bezier(.25, .4, .45, 1.4);
    background-color: rgba(212, 182, 32, 0.6);
}

.user-profile {
    width: 40px;
    border: 3px solid black;
    border-radius: 50%;
    padding: 2px;
}

footer {
    background-image: url(./images/header-bcg.webp);
    background-size: 300px;
    border-top: 4px solid rgb(141, 119, 10);
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-bttn {
    border: none;
    width: 40px;
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
}